<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" routerLink="/"><b>FBOOK</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLinkActive="active" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLinkActive="active" routerLink="/network"
            >Networks</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/friends-list"
            >Friends</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/profile-settings"
            >Settings</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && userImmediate?.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/users"
            >Users</a
          >
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLinkActive="active" routerLink="/register"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated" style="cursor: pointer">
          <a class="nav-link" (click)="handleLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
