<div class="row">
  <app-loading-spinner *ngIf="isLoading" id="spinner"></app-loading-spinner>
  <div class="col-sm-12 col-md-6 offset-md-3 mt-2" *ngIf="!isLoading">
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="error">
      {{ error }}
      <button type="button" class="btn-close" (click)="closeError()"></button>
    </div>
    <div class="card shadow-sm">
      <div class="card-header text-center bg-white">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="handleLogin()"
        >
          <div class="form-group my-2">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
          </div>
          <div class="form-group my-2">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button
              class="btn btn-outline-primary"
              type="button"
              routerLink="/forgot-password"
            >
              Forgot Password
            </button>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
